.hero {
  text-align: center;
  height: 600px;
  background-image: linear-gradient(
      to top,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.5)
    ),
    url("/public/images/homeBg.jpg");
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: end;
  padding: 50px;
}
.homePage h1 {
  color: var(--five-color);
  font-weight: 700;
  background-color: rgba(95, 79, 79, 0.8);
  border-radius: var(--br);
  padding: var(--paddingBlock);
  animation: homeTitle 3s forwards;
}
@keyframes homeTitle {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}
.subtitle_homePage {
  font-weight: 600;
  font-size: var(--fs-5);
}
.followMe {
  text-align: center;
}
.followMeText {
  font-size: var(--fs-5);
}
.adages {
  background-color: var(--huit-color);
  text-align: center;
  padding: var(--paddingheightSection) 0;
}
.citations {
  display: flex;
  justify-content: center;
  margin: auto;
}
.adage1,
.adage2 {
  width: 26%;
  text-align: center;
  margin: var(--marginBlock);
}
.adageTitle {
  border-bottom: 2px solid rgba(50, 50, 50, 0.36);
  display: inline-block;
  padding-bottom: 5px;
  color: rgba(50, 50, 50, 0.36);
  font-weight: 400;
}
cite {
  color: var(--ter-color);
  font-weight: 700;
  font-style: normal;
}
.box-testimony {
  border: 1px solid var(--main-color);
  border-radius: var(--br);
  padding: var(--paddingBlock);
  box-shadow: 2px 2px 2px 2px;
  background-color: var(--main-color);
  color: var(--five-color);
}
.title-testimonies {
  color: var(--four-color);
  font-weight: 800;
  text-decoration: underline;
}
.grip-testimony {
  text-align: center;
  background-color: rgba(95, 79, 79, 0.7);
  border-radius: var(--br);
  padding: var(--paddingBlock);
  opacity: 0;
  animation: homeTestimonies 1s ease 0s 1 normal forwards;
  animation-delay: 3s;
}
.testimony-button {
  text-transform: uppercase;
  letter-spacing: var(--ls);
  background-color: rgba(95, 79, 79, 0.7);
  padding: 10px;
  border: none;
  color: var(--five-color);
  font-weight: 700;
  margin: var(--marginBlock);
}
@keyframes homeTestimonies {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
    transform: translateY(-250px);
  }

  38% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0);
  }

  55% {
    animation-timing-function: ease-in;
    transform: translateY(-65px);
    opacity: 1;
    opacity: 1;
  }

  72% {
    animation-timing-function: ease-out;
    transform: translateY(0);
    opacity: 1;
    opacity: 1;
  }

  81% {
    animation-timing-function: ease-in;
    transform: translateY(-28px);
    opacity: 1;
    opacity: 1;
  }

  90% {
    animation-timing-function: ease-out;
    transform: translateY(0);
    opacity: 1;
    opacity: 1;
  }

  95% {
    animation-timing-function: ease-in;
    transform: translateY(-8px);
    opacity: 1;
    opacity: 1;
  }

  100% {
    animation-timing-function: ease-out;
    transform: translateY(0);
    opacity: 1;
    opacity: 1;
  }
}
