.remarques {
  text-align: center;
  font-weight: 800;
  padding: var(--interSection);
}
.massage_img_Bg {
  width: 100%;
  height: var(--height-Bg-img);
  background-image: url("/public/images/massageBg.jpg");
}
.massageNav-btn{
  position: fixed;
  right: 0;
}
.scroll-box {
  background-color: rgba(95, 79, 79, 0.8);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: var(--br);
  animation: dragScrollBox 400ms ease 0s 1 normal forwards;
  opacity: 0;
}
.scroll-box ul {
  margin: 0;
  padding: 0;
}
.scroll-box ul li {
  margin: 15px;
}
.scroll-box ul li a:hover {
  color: var(--main-color) !important;
}
@keyframes dragScrollBox {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.tabComp {
  padding: 10px;
  border-collapse: inherit;
}
.reductBoxScrollMassage{
  display: none;
}
