.navbar {
  min-height: 100px;
  font-family: var(--sec-font);
  padding: 5px !important;
}
.container {
  max-width: 1200px !important;
  border: 1px solid var(--five-color);
  border-radius: var(--br);
  box-shadow: 1px 1px 1px var(--five-color);
}
.navbar-brand {
  font-size: var(--fs-4) !important;
  display: flex;
  align-items: center;
}
.nav-link,
.navbar-brand {
  color: var(--five-color) !important;
}
.nav-link {
  font-size: var(--fs-1) !important;
  font-weight: 700 !important;
  letter-spacing: 2px;
  margin: 0 10px;
}
.nav-link.active{
  border-bottom: 3px solid var(--four-color);
}
.navbar-collapse {
  flex-grow: inherit !important;
}
.socialButtons {
  transition: transform 400ms ease !important;
}
.socialButtons:hover {
  transform: scale(1.05);
}
.navbar-toggler {
  background-color: var(--five-color) !important;
}
.navbar-toggler {
  box-shadow: inherit !important;
}
