@media screen and (max-width: 500px) {
  .socialZone {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .contactButton {
    max-width: 320px;
  }
  .tab-content {
    min-height: inherit;
  }
  .btn-testimony {
    font-size: 50%;
  }
}
@media screen and (min-width: 501px) and (max-width: 768px){
  .btn-testimony {
    font-size: 50%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px){

}
@media screen and (max-width: 1250px) {
  .footer_block1,
  .footer_block2,
  .footer_block3 {
    width: 100%;
  }
  .sub-footer1 {
    display: flex;
    justify-content: center;
  }
  .footer {
    text-align: center;
  }
  .image-paragraph {
    flex-wrap: wrap;
  }
  .citations {
    flex-wrap: wrap;
  }
  .adage1,
  .adage2 {
    width: 100%;
  }
  /* .hero,
  .massage_img_Bg,
  .consultation_img_Bg,
  .rebozo_img_Bg {
    background-size: contain;
    background-repeat: no-repeat;
  } */
}
@media screen and (max-width: 1900px){
  .hero,
  .massage_img_Bg,
  .consultation_img_Bg,
  .rebozo_img_Bg {
    background-size: contain;
    background-repeat: no-repeat;
  }
}

/* @media screen and (max-width: 480px)
@media screen and (min-width: 481px) and (max-width: 768px)
@media screen and (min-width: 769px) and (max-width: 1024px)
@media screen and (min-width: 1025px) */