@media screen and (max-width: 500px) {
  html {
    font-size: 14px;
  }
  .socialZone {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .contactButton {
    max-width: 320px;
  }
  .tab-content {
    min-height: inherit;
  }
  .btn-testimony {
    font-size: 60%;
  }
  .form input,textarea{
    width: 100%;
  }
  .infoContact,.form{
    width: 100%;
    margin: 5px;
  }
}
@media screen and (min-width: 501px) and (max-width: 1024px){
  html {
    font-size: 14px;
  }
  .btn-testimony {
    font-size: 60%;
  }
}

@media screen and (max-width: 1250px) {

  
  .footer_block1,
  .footer_block2,
  .footer_block3 {
    width: 100%;
  }
  .sub-footer1 {
    display: flex;
    justify-content: center;
  }
  .footer {
    text-align: center;
  }
  .image-paragraph {
    flex-wrap: wrap;
  }
  .citations {
    flex-wrap: wrap;
  }
  .adage1,
  .adage2 {
    width: 100%;
  }
}
