@media screen and (max-width: 500px) {
    .socialZone {
      display: flex;
      justify-content: center;
      width: 100%;
    }
    .contactButton {
      max-width: 320px;
    }
    .tab-content {
      min-height: inherit;
    }
  }
  @media screen and (max-width: 1250px) {
    .footer_block1,
    .footer_block2,
    .footer_block3 {
      width: 100%;
    }
    .sub-footer1 {
      display: flex;
      justify-content: center;
    }
    .footer {
      text-align: center;
    }
    .image-paragraph {
      flex-wrap: wrap;
    }
    .citations {
      flex-wrap: wrap;
    }
    .adage1,
    .adage2 {
      width: 100%;
    }
    .hero,
    .massage_img_Bg {
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
  
  .box-nav-massages {
    position: relative;
  }
  
  .scroll-box {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    background-color: #f7f7f7;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .scroll-box ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .scroll-box ul li {
    margin-bottom: 5px;
  }
  
  .scroll-box ul li a {
    text-decoration: none;
    color: #333;
  }
  
  .scroll-box ul li a:hover {
    color: #000;
  }
  
  .section {
    height: 500px;
    margin-bottom: 50px;
  }