@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Roboto+Condensed:wght@300;400;700&family=Vollkorn:ital,wght@1,400;1,500;1,600;1,700;1,800&display=swap");
:root {
  --main-color: #8ba79e; /* Couleur principale */
  --sec-color: #4d4d4d; /* bkg adages accueil */
  --ter-color: #c7aa8b; /* color adages accueil */
  --four-color: #5f4f4f; /* bkg listes massages */
  --five-color: #ededed; /* écriture principale" */
  --six-color: #333; /* écriture secondaire" */
  --sept-color: #295f00; /* titre accueil */
  --huit-color: #f7f7f7; /* citations */

  /* Font Size */
  --fs-1: 1rem;
  --fs-2: 1.2rem;
  --fs-3: 1.5rem;
  --fs-4: 1.7rem;
  --fs-5: 2rem;
  --fs-6: 2.2rem;

  /* Font */
  --main-font: "Montserrat";
  --sec-font: "Roboto Condensed";
  --ter-font: "Vollkorn";

  /* Sections */
  --interSection: 2.5rem;
  --paddingLateralSection: 1.25rem;
  --paddingheightSection: 5rem;

  /* Cadres */
  --br: 1.25rem;
  --separateBlock: 4rem;
  --borderBlock: 2px solid #ededed;
  --paddingBlock: 1.25rem;
  --marginBlock: 1.25rem;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, var(--main-font) !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none !important;
  color: var(--five-color) !important;
}
a:visited {
  color: var(--five-color) !important;
}
a:hover {
  color: var(--four-color) !important;
}
img {
  border-radius: var(--br);
  max-width: 100%;
}
h1 {
  font-size: var(--fs-6) !important;
  color: var(--five-color);
}
h2 {
  font-size: var(--fs-5) !important;
  color: var(--five-color);
  font-weight: 700 !important;
}
ul {
  list-style-type: none;
}
blockquote {
  font-family: var(--ter-font);
  font-weight: 800;
}
.Button {
  color: var(--five-color);
  background-color: var(--main-color);
  border-radius: var(--br);
  border: 2px var(--four-color) solid;
  padding: 5px;
}
.Button:hover {
  color: var(--six-color);
  background-color: var(--ter-color);
  transition: 400ms;
}
.tab-content {
  min-height: 500px;
  display: flex;
  justify-content: space-around ;
  align-items: center;
  background-color: var(--main-color);
}
/********************************NAVIGATION********************************
/* classes bootstrap par défaut */
.navbar {
  min-height: 100px;
  font-family: var(--sec-font);
}
.container {
  max-width: 1200px !important;
}
.navbar-brand {
  font-size: var(--fs-4) !important;
  display: flex;
  align-items: center;
}
.nav-link,
.navbar-brand {
  color: var(--five-color) !important;
}
.nav-link {
  font-size: var(--fs-1) !important;
  border-bottom: 3px solid transparent;
  font-weight: 700 !important;
  letter-spacing: 2px;
}
.nav-link:hover {
  border-bottom: 3px solid var(--four-color);
}
.navbar-collapse {
  flex-grow: inherit !important;
}
.dropdown-menu {
  background-color: var(--main-color) !important;
}
.dropdown-menu a {
  background-color: var(--main-color) !important;
}
.socialButtons {
  transition: transform 400ms ease !important;
}
.socialButtons:hover {
  transform: scale(1.05);
}
.navbar-toggler {
  background-color: var(--five-color) !important;
}
.navbar-toggler {
  box-shadow: inherit !important;
}

/********************************HOMEPAGE********************************/
.hero {
  text-align: center;
  height: 600px;
  background-image: linear-gradient(
      to top,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.5)
    ),
    url("/public/images/homeBg.jpg");
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: end;
  padding: 50px;
}
.homePage h1 {
  color: var(--five-color);
  font-weight: 700;
}
.subtitle_homePage {
  font-weight: 600;
  font-size: var(--fs-5);
}
.image-paragraph {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: var(--interSection) 0;
  padding: var(--paddingheightSection) var(--paddingLateralSection);
  background-color: var(--main-color);
  color: var(--five-color);
}

.image-paragraph.right {
  flex-direction: row-reverse;
}
.image-paragraph.right img,
.image-paragraph.left img,
.image-paragraph.bottom img,
.image-paragraph.top img {
  margin: var(--marginBlock);
}
.image-paragraph.left {
  flex-direction: row;
}
.image-paragraph.bottom {
  flex-direction: column-reverse;
}
.image-paragraph.top {
  flex-direction: column;
}
.cadre-paragraph {
  border: var(--borderBlock);
  border-radius: var(--br);
  padding: var(--paddingBlock);
  font-weight: 400;
  margin: var(--marginBlock) 0;
}
.followMe {
  text-align: center;
}
.followMeText {
  font-size: var(--fs-5);
}
.adages {
  background-color: var(--huit-color);
  text-align: center;
  padding: var(--paddingheightSection) 0;
}
.citations {
  display: flex;
  justify-content: center;
  margin: auto;
}
.adage1,
.adage2 {
  width: 26%;
  text-align: center;
  margin: var(--marginBlock);
}
.adageTitle {
  border-bottom: 2px solid rgba(50, 50, 50, 0.36);
  display: inline-block;
  padding-bottom: 5px;
  color: rgba(50, 50, 50, 0.36);
  font-weight: 400;
}
cite {
  color: var(--ter-color);
  font-weight: 700;
  font-style: normal;
}
/********************************CONSULTATIONS********************************/
.bandeau {
  background-color: var(--main-color);
  color: var(--five-color);
  border: 1px solid var(--five-color);
  padding: 3.5rem 1.25rem;
  margin: var(--interSection) 0;
}
.accroche {
  font-family: var(--ter-font);
  font-size: var(--fs-2);
}
.custom-hr {
  border-width: 2px;
  border-color: var(--five-color);
  width: 10%;
}
.tabs {
  background-color: var(--main-color);
}
.tab {
  color: var(--four-color) !important;
}
/********************************MASSAGES********************************/
.remarques {
  text-align: center;
  font-weight: 800;
  padding: var(--interSection);
}
.massage_img_Bg {
  width: 100%;
  height: 350px;
  background-image: url("/public/images/massageBg.jpg");
  background-size: cover;
  background-attachment: fixed;
}
/********************************CONTACT********************************/
.textContact {
  font-weight: 800;
  text-decoration: underline;
  text-align: center;
}
.form {
  width: 550px;
  height: 500px;
  padding: 1.6rem 1rem;
  background-color: var(--main-color);
  color: var(--five-color);
  text-align: center;
  border-radius: var(--br);
}
.form input,
textarea {
  border-radius: var(--br);
  width: 400px;
  height: 50px;
  border: 1px solid var(--five-color);
  margin: 1.25rem;
}
.form input::placeholder,
textarea::placeholder {
  color: var(--four-color);
}

.form input:focus,
textarea:focus {
  outline: 3px solid var(--four-color);
}
/********************************FOOTER********************************/
.footer {
  padding: 50px;
  margin-top: var(--interSection);
  background-color: var(--main-color);
  color: var(--five-color);
}
.sub-footer1 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.sub-footer2 {
  text-align: center;
  font-size: var(--fs-2);
}
.footer_block1,
.footer_block3 {
  font-weight: 600;
  font-size: var(--fs-2);
  margin: 10px;
}
.footer_block2 {
  margin: 10px;
}
.footer_adr_precision {
  font-weight: 300;
}
.footer_tel {
  font-size: var(--fs-3);
  font-weight: 700;
}
.contactButton {
  max-width: 400px;
  font-weight: 700;
  font-size: var(--fs-3);
}
/********************************MENTIONS LEGALES********************************/
.pageML {
  padding: 10px;
}
.pageML h1 {
  color: var(--five-color);
  background-color: var(--main-color);
  font-size: 3rem;
  text-align: center;
  font-family: var(--sec-font);
}
.pageML h2 {
  color: var(--four-color);
}
/********************************RESPONSIVE********************************/
@media screen and (max-width: 500px) {
  .socialZone {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .contactButton {
    max-width: 320px;
  }
  .tab-content {
    min-height: inherit;
  }
}
@media screen and (max-width: 1250px) {
  .footer_block1,
  .footer_block2,
  .footer_block3 {
    width: 100%;
  }
  .sub-footer1 {
    display: flex;
    justify-content: center;
  }
  .footer {
    text-align: center;
  }
  .image-paragraph {
    flex-wrap: wrap;
  }
  .citations {
    flex-wrap: wrap;
  }
  .adage1,
  .adage2 {
    width: 100%;
  }
  .hero,
  .massage_img_Bg {
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.box-nav-massages {
  position: relative;
}

.scroll-box {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  background-color: #f7f7f7;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.scroll-box ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.scroll-box ul li {
  margin-bottom: 5px;
}

.scroll-box ul li a {
  text-decoration: none;
  color: #333;
}

.scroll-box ul li a:hover {
  color: #000;
}

.section {
  height: 500px;
  margin-bottom: 50px;
}